:root { 
  --sans-font: 'Inter', -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;
  --bg: #fafafa;
  --accent-bg: #fff;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

header {
  background-image: url(/fig/contour2.jpg);
  background-size: contain;
}

header nav a {
  background-color: var(--accent-bg);
}

header.post-header {
  background-image: none;
}

article.post {
  border: none;
  padding: 0;
}