<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/simple.css">
    <link rel="stylesheet" href="/css/inter/inter.css">
    <link rel="stylesheet" href="/css/ucsb.css">
  </head>

  <body>
    <header>
      <h1> Carpentry @ UCSB Library</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/community/instructors">Carpentry Community</a></li>
          <li><a href="https://www.library.ucsb.edu/events-exhibitions?location=All&series=1225" target="_blank">Events Calendar</a></li>
          <li><a href="/past-workshops/">Past Workshops</a></li>
        </ul>
      </nav>

    </header>

    <main>
      {{ content }}
    </main>
  <footer>

  </footer>
</body>
</html>
